form label{
     font-weight: bold;
     color: #2c3e50;
     font-size: 14px;
}
.coluna label{
     display: flex;
     flex-direction: column;
}
form input[type="text"], form input[type="number"], form input[type="password"], form input[type="email"], select{
     padding: 8px 12px;
     margin-top: 5px;
     border: 1px solid #c7cfd6;
     border-radius: 6px;
     font-size: 14px;
     margin-bottom: 20px;
}
form input[type="text"]:focus, form input[type="number"]:focus, textarea:focus{
     outline: none;
}
.btn{
     background-color: #3498db;
     color: white;
     border: none;
     padding: 8px 18px;
     border-radius: 6px;
     cursor: pointer;
     font-size: 15px;
     font-weight: bold;
}
.btn:hover{
     background-color: #2980b9;
}