table{
     width: 100%;
     margin-bottom: 30px;
     border-collapse: collapse;
     background: #fafafa;
     text-align: center;
}
th{
     background: #c7cfd6;
     padding: 10px;
     text-transform: uppercase;
     border: 1px solid #c7cfd6;
     font-size: 14px;
}
td{
     padding: 8px 12px;
     border: 1px solid #c7cfd6;
}
 tr:nth-child(even){
     background: #f2f3f7;
}
td>a{
     color: #386ea4;
}
td>a:last-child{
     color: #a54554;
}